<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GUBaiSI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>786F5BED1D3DFB2600BABCEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786F5C061D3DFB2600BABCEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786F5C111D3DFB2600BABCEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
